html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.my-box {
    background-color: lightgrey;
    width: 600px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}


tr.htmx-swapping {
     opacity: 0;
     transition: opacity 1s ease-out;
}
