@{
    Layout = null;
}
@model List<WebApp_htmx.DB.Contact>
<div class="main">
    <table>
        <thead>
            <tr>
                <th>First</th>
                <th>Last</th>
                <th>Phone</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contact in Model)
            {
                <tr>
                    <td>@contact.First</td>
                    <td>@contact.Last</td>
                    <td>@contact.Phone</td>
                    <td>@contact.Email</td>
                    <td>
                        <button hx-post="/examples/delete" hx-target=".main" hx-swap="innerHtml" hx-vals='{"id":@contact.Id}'>Delete1</button>
                        <button hx-delete="/examples/@contact.Id" hx-target=".main" hx-swap="innerHtml" >Delete2</button>
                        <button hx-get="/examples/edit/@contact.Id" hx-target="closest tr" hx-swap="innerHtml" >Edit</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>