<div id="replace-me">
    <div class="my-box">
        <h2>1. Get contacts Replace button</h2>
        <p>Simple use of the hx-get attribute. It replaces the button element (transclusion)</p>
        <button hx-get="/examples/get" n>Get Contacts</button>
    </div>

    <div class="my-box">
        <h2>2. Get contacts Replace page</h2>
        <p>Same use of hx-get, however replacing entire page instead of just element.</p>
        <button hx-get="/examples/get" hx-target="#replace-me" hx-swap="outerHtml">Get Contacts</button>
    </div>

    <div class="my-box">
        <h2>3. Get contacts, Replace page, Keep History</h2>
        <p>Same use of hx-get, however replacing entire page instead of just element. Keeping History.</p>
        <button hx-get="/examples/get" hx-target="#replace-me" hx-url-push="true">Get Contacts</button>
    </div>

    <div class="my-box">
        <h2>4. Get contacts, Replace page (Inner Html), Keep History</h2>
        <p>Same use of hx-get, however replacing entire page instead of just element. Keeping History. However, the Layout will be copied as we are replacing only the Inner HTML</p>
        <button hx-get="/examples/get" hx-target="#replace-me" hx-url-push="true" hx-swap="innerHtml">Get Contacts</button>
    </div>

    <div class="my-box">
        <h2>5. Get contacts, Replace page (Outer Html), Keep History</h2>
        <p>
            Same use of hx-get, however replacing entire page instead of just element.
            Keeping History.
            However, the Layout will NOT be copied as we are replacing Outer HTML
        </p>
        <button hx-get="/examples/get" hx-target="#replace-me" hx-url-push="true" hx-swap="outerHtml">Get Contacts</button>
    </div>

    <div class="my-box">
        <h2>6. Email Validation Server Side</h2>
        <button hx-get="/examples/get">Show Contacts</button>
    </div>
    <div class="my-box">
        <h2>7. Load More contacts</h2>
        <button hx-get="/examples/more" hx-swap="beforebegin">Load More Contacts</button>
    </div>
</div>
